 .d{
  display: flex;margin-left: 0%;flex-wrap: wrap;font-size: 15px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 justify-content:space-evenly;
}
 *{margin: 0%;padding: 0%;}
 .img{
  width:310px;height:200px;margin-right: 0.5vw;border-radius: 20px;background:  linear-gradient(hsl(219, 52%, 61%), hsl(135, 90%, 69%), rgb(0, 255, 55));;padding: 0.3%;border: rgba(6, 156, 149, 0) solid ;box-shadow: 6px 6px 10px 10px rgb(13, 61, 13);
 }
 .img:hover{background:  linear-gradient(hsl(19, 93%, 39%), hsl(223, 90%, 60%), hsla(73, 98%, 50%, 0.911));;padding: 0.3%;border: rgba(0, 0, 255, 0) solid ;border-radius: 50%;width:95vw;height: 60vH;/**/
   position: absolute;left:2VW;;border-radius: 40px;
 /* transition: all .3s ease-in-out; */

 /* box-shadow:20px 30px 100px 100px rgb(0, 255, 255); */
}
  .button{background-color: rgb(112, 92, 201);width:fit-content;;height:fit-content;font-size:20PX;border: 10PX solid transparent;border-radius: 42px; ;color:aliceblue} 
 a{text-decoration: none;color:white}
 a:hover{color: black;transition: all 0s ease;}
 .button:hover{box-shadow:5px 10px 5px 0px rgb(2, 250, 85);}
 /* a:hover::after{color:rgb(0, 0, 0);
 content:url("src/ConfettiGif1.gif") ;width: 2vw;height: 2vw;position: absolute;} */
 /* a::after{content:url("src/ConfettiGif.gif") ;} */

 .btn{color: rgb(234, 0, 255);}
 body{background:linear-gradient(rgba(47, 48, 121, 0.89),rgba(25, 71, 52, 0.473),rgb(20, 90, 122))}